body {
    font-family:"arial";
    text-align: center;
}

.main-image {
   border:solid 10px rgb(6, 240, 26);
   border-radius: 10%
   
}

h1 {
   background-color:#0be336;
  padding:20px;
  text-align:center
}

.section-title{ 
     text-transform:capitalize;

}
